[submodule "evently"]
	path = evently
	url = https://github.com/vinceflores/evently.git
[submodule "netflix-nextjs-clone"]
	path = netflix-nextjs-clone
	url = https://github.com/vinceflores/netflix-nextjs-clone.git
[submodule "learning-crud-in-springboot-java"]
	path = learning-crud-in-springboot-java
	url = https://github.com/vinceflores/learning-springboot-nobsv2.git
[submodule "recipe_sharing_app"]
	path = recipe_sharing_app
	url = https://github.com/vinceflores/recipe_sharing_app.git
